<!-- footer -->
<div class="footer pt-11 pb-3 bg-dark text-base">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white">Introspectiva</h4>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Agenda tu Coach</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Prensa</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Redes Sociales</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link"> Ayuda</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Contactanos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Blog</h4>
                    <ul class="list-unstyled list-group ">
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Business Coaching</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Relationship</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Leadership</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Life Coaching</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Time Management</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Recursos</h4>
                    <ul class="list-unstyled list-group ">
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Cursos y Talleres en linea</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Articulos</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link"> Podcast</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Paginas</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Descarga la App</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white ">Redes Sociales</h4>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Instagram</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link"> Facebook</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link"> LinkedIn</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">YouTube</a></li>
                        <li class="list-group-item"><a href="#" class="list-group-item-link">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-12">
                <div class="mb-4">
                    <h4 class="mb-4 text-white">Subscribete a nuestra newsletter</h4>
                    <div>
                        <p>Subscribete para contenido relevante...</p>
                        <form>
                            <div class="mb-3">
                                <input type="email" class="form-control border-white" placeholder="Correo Electronico" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Subscribete</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mt-8">
                    <ul class="list-inline">
                        <li class="list-inline-item">© 2020 Introspectiva Science & Wellness</li>
                        <li class="list-inline-item"><a href="#" class="text-reset"> Politica de Privacidad </a></li>
                        <li class="list-inline-item"><a href="#" class="text-reset"> Terminos y Condiciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>