<!-- header -->
<div class="header @@classList">
    <!-- navigation start -->
    <div class="container-lg">
        <nav class="navbar navbar-expand-lg navbar-default">
            <a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/LogotipoFINAL.png" alt="" /></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbar-default">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-times"></i>
        </button>
                <ul class="navbar-nav ml-auto mr-lg-3 ">
                    <li class="nav-item dropdown disabled">
                        <a class="nav-link d-lg-none" href="#">
              Menu
            </a>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
              Introspectiva Science & Wellness
            </a>
                        <ul class="dropdown-menu  dropdown-menu-arrow " aria-labelledby="menu-1">
                            <li>
                                <a class="dropdown-list-group-item " href="@@webRoot/index.html">


                                    <h4 class="h5">Quienes Somos</h4>
                                    <p class="text-muted mb-0 font-12">
                                        Quienes Somos
                                    </p>


                                </a>

                            </li>
                            <li>
                                <a class="dropdown-list-group-item " href="@@webRoot/pages/business-coach.html">


                                    <h4 class="h5">Filosofia</h4>
                                    <p class="text-muted mb-0 font-12">
                                        Mision, Valores, Vision
                                    </p>


                                </a>

                            </li>
                            <li>
                                <a class="dropdown-list-group-item " href="@@webRoot/pages/life-coach.html">


                                    <h4 class="h5">Credenciales</h4>
                                    <p class="text-muted mb-0 font-12">
                                        Credenciales
                                    </p>


                                </a>

                            </li>
                            <li>
                                <a class="dropdown-list-group-item " href="@@webRoot/pages/ceo-coach.html">


                                    <h4 class="h5">Colaboraciones</h4>
                                    <p class="text-muted mb-0 font-12">
                                        Colaboraciones
                                    </p>


                                </a>

                            </li>
                            <li>
                                <a class="dropdown-list-group-item " href="@@webRoot/pages/ceo-coach.html">


                                    <h4 class="h5">Testimonios</h4>
                                    <p class="text-muted mb-0 font-12">
                                        Testimonios
                                    </p>


                                </a>

                            </li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="menu-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
              Servicios
            </a>
                        <ul class="dropdown-menu  dropdown-menu-right dropdown-menu-xl-left  dropdown-menu-arrow " aria-labelledby="menu-2">
                            <li class="dropdown-submenu ">
                                <a class="dropdown-list-group-item dropdown-toggle" href="#">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3 icon-shape icon-lg rounded-circle bg-light">
                                            <i class="flaticon-layers font-24"></i>
                                        </div>
                                        <div>
                                            <h4 class="h5">Proyectos para empresas</h4>
                                            <p class="text-muted mb-0 font-12">
                                               Cambio organizacional
                                            </p>
                                            <p class="text-muted mb-0 font-12">
                                                Cultura Organizacional
                                            </p>
                                        </div>
                                    </div>
                                </a>

              </li>
              <li class="dropdown-submenu ">
                <a
                  class="dropdown-list-group-item dropdown-toggle"
                  href="#"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="mr-3 icon-shape icon-lg rounded-circle bg-light"
                    >
                      <i class="flaticon-calendar-5 font-24"></i>
                    </div>
                    <div>
                      <h4 class="h5">Talleres</h4>
                      <p class="text-muted mb-0 font-12">
                        Catalogo y proximas fechas
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-submenu ">
                <a
                  class="dropdown-list-group-item dropdown-toggle"
                  href="#"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="mr-3 icon-shape icon-lg rounded-circle bg-light"
                    >
                      <i class="flaticon-microphone font-24"></i>
                    </div>
                    <div>
                      <h4 class="h5">Coaching</h4>
                      <p class="text-muted mb-0 font-12">
                        Coaching personal
                      </p>
                    </div>
                  </div>
                </a>
              </li>

            

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="menu-3"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Blog
            </a>
<!--                                                                        <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-right dropdown-menu-xl-left " aria-labelledby="menu-3">-->
<!--                                                                            <li>-->
<!--                                                                                <a class="dropdown-item" href="@@webRoot/pages/blog.html">-->
<!--                  Blog-->
<!--                </a>-->
<!--                                                                            </li>-->
<!--                                                                            <li>-->
<!--                                                                                <a class="dropdown-item" href="@@webRoot/pages/blog-author.html">-->
<!--                  Blog Author-->
<!--                </a>-->
<!--                                                                            </li>-->
<!--                                                                            <li>-->
<!--                                                                                <a class="dropdown-item" href="@@webRoot/pages/blog-category.html">-->
<!--                  Blog Category-->
<!--                </a>-->
<!--                                                                            </li>-->
<!--                                                                            <li>-->
<!--                                                                                <a class="dropdown-item" href="@@webRoot/pages/blog-classic.html">-->
<!--                  Blog Classic-->
<!--                </a>-->
<!--                                                                            </li>-->
<!--                                                                            <li>-->
<!--                                                                                <a class="dropdown-item" href="@@webRoot/pages/blog-single.html">-->
<!--                  Blog Single-->
<!--                </a>-->
<!--                                                                            </li>-->
<!--                                                                        </ul>-->
                                                                    </li>
                                                                    <li class="nav-item dropdown">
                                                                        <a class="nav-link dropdown-toggle" href="#" id="menu-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Recursos
            </a>
                                                                        <ul class="dropdown-menu dropdown-menu-md dropdown-menu-arrow dropdown-menu-right dropdown-menu-xl-left " aria-labelledby="menu-4">

                                                                            <li class="dropdown-submenu">
                                                                                <a class="dropdown-list-group-item dropdown-toggle" href="#">


                                                                                    <h4 class="h5">Videos </h4>
                                                                                    <p class="text-muted mb-0 font-12">
                                                                                        Charlas, Talleres
                                                                                    </p>


                                                                                </a>
                                                                                </li>



                                                                                    <li class="dropdown-submenu">
                                                                                        <a class="dropdown-list-group-item dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                            <h4 class="h5">Webinar</h4>
                                                                                            <p class="text-muted mb-0 font-12">
                     Webinars
                                                                                            </p>
                                                                                        </a>

                                                                                    </li>

                                                                                    <li>
                                                                                        <a class="dropdown-list-group-item" href="@@webRoot/pages/book-download-page.html">

                                                                                            <h4 class="h5">Otros</h4>
                                                                                            <p class="text-muted mb-0 font-12">
                      Articulos, paginas, etc...
                                                                                            </p>


                                                                                        </a>

                                                                                            </li>

                                                                                        </ul>
                                                                                    </li>
                                                                                    <li class="nav-item dropdown">
                                                                                        <a class="nav-link dropdown-toggle" href="#" id="menu-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Investigacion & Desarrollo
          </a>
<!--                                                                                        <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-right dropdown-menu-xl-left " aria-labelledby="menu-5">-->
<!--                                                                                            <li class="dropdown-submenu ">-->
<!--                                                                                                <a class="dropdown-item dropdown-toggle" href="#">-->
<!--                                                                                  Sign In-->
<!--                                                                                </a>-->
<!--                                                                                                <ul class="dropdown-menu dropdown-menu-lg-right">-->
<!--                                                                                                    <li>-->
<!--                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/signin-cover.html">-->
<!--                                                                                        Side Cover <span class="text-primary font-12 ml-1">(New)</span></a-->
<!--                                                                                      >-->
<!--                                                                                    </li>-->
<!--                                                                                    <li>-->
<!--                                                                                      <a class="dropdown-item" href="@@webRoot/pages/signin.html">-->
<!--                                                                                        Basic</a-->
<!--                                                                                      >-->
<!--                                                                                    </li>-->
<!--                                                                              -->
<!--                                                                                   -->
<!--                                                                                  </ul>-->
<!--                                                                                </li>-->
<!--                                                                                <li class="dropdown-submenu ">-->
<!--                                                                                  <a class="dropdown-item dropdown-toggle" href="#">-->
<!--                                                                                    Sign Up-->
<!--                                                                                  </a>-->
<!--                                                                                                        <ul class="dropdown-menu dropdown-menu-lg-right">-->
<!--                                                                                                            <li>-->
<!--                                                                                                                <a class="dropdown-item" href="@@webRoot/pages/signup-cover.html">-->
<!--                                                                                          Side Cover <span class="text-primary font-12 ml-1">(New)</span></a-->
<!--                                                                                        >-->
<!--                                                                                      </li>-->
<!--                                                                                      <li>-->
<!--                                                                                        <a class="dropdown-item" href="@@webRoot/pages/signup.html">-->
<!--                                                                                          Basic</a-->
<!--                                                                                        >-->
<!--                                                                                      </li>-->
<!--                                                                                -->
<!--                                                                                     -->
<!--                                                                                    </ul>-->
<!--                                                                                  </li>-->
<!--                                                                                  <li>-->
<!--                                                                                    <a class="dropdown-item" href="@@webRoot/pages/verify-code.html">-->
<!--                                                                                      Verify Code <span class="text-primary font-12 ml-1">(New)</span>-->
<!--                                                                                    </a>-->
<!--                                                                                                            </li>-->
<!--                                                                                                            <li class="dropdown-submenu ">-->
<!--                                                                                                                <a class="dropdown-item dropdown-toggle" href="#">-->
<!--                                                                                      Password Reset-->
<!--                                                                                    </a>-->
<!--                                                                                                                <ul class="dropdown-menu dropdown-menu-lg-right">-->
<!--                                                                                                                    <li>-->
<!--                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/password-reset-cover.html">-->
<!--                                                                                            Side Cover <span class="text-primary font-12 ml-1">(New)</span></a-->
<!--                                                                                          >-->
<!--                                                                                        </li>-->
<!--                                                                                        <li>-->
<!--                                                                                          <a class="dropdown-item" href="@@webRoot/pages/password-reset.html">-->
<!--                                                                                            Basic</a-->
<!--                                                                                          >-->
<!--                                                                                        </li>-->
<!--                                                                                  -->
<!--                                                                                       -->
<!--                                                                                      </ul>-->
<!--                                                                                    </li>-->
<!--                                                                                    <li class="dropdown-submenu ">-->
<!--                                                                                      <a class="dropdown-item dropdown-toggle" href="#">-->
<!--                                                                                       Setting <span class="text-primary font-12 ml-1">(New)</span>-->
<!--                                                                                      </a>-->
<!--                                                                                                                        <ul class="dropdown-menu dropdown-menu-lg-right">-->
<!--                                                                                                                            <li>-->
<!--                                                                                                                                <a class="dropdown-item" href="@@webRoot/pages/dashboard-profile.html">-->
<!--                                                                                             Profile</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                          <li>-->
<!--                                                                                            <a class="dropdown-item" href="@@webRoot/pages/dashboard-subscription.html">-->
<!--                                                                                              Subscription</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                          <li>-->
<!--                                                                                            <a class="dropdown-item" href="@@webRoot/pages/dashboard-security.html">-->
<!--                                                                                              Security</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                          <li>-->
<!--                                                                                            <a class="dropdown-item" href="@@webRoot/pages/dashboard-notifications.html">-->
<!--                                                                                              Notifications</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                          <li>-->
<!--                                                                                            <a class="dropdown-item" href="@@webRoot/pages/dashboard-user.html">-->
<!--                                                                                              Users</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                          <li>-->
<!--                                                                                            <a class="dropdown-item" href="@@webRoot/pages/dashboard-payment-plan.html">-->
<!--                                                                                              Payment Plan</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                          <li>-->
<!--                                                                                            <a class="dropdown-item" href="@@webRoot/pages/dashboard-payment-history.html">-->
<!--                                                                                              Payment History</a-->
<!--                                                                                            >-->
<!--                                                                                          </li>-->
<!--                                                                                    -->
<!--                                                                                    -->
<!--                                                                                         -->
<!--                                                                                        </ul>-->
<!--                                                                                      </li>-->



<!--                                                                              </ul>-->
                                                                          </li>
                                                                          
                                                                          <li class="nav-item dropdown">
                                                                            <a
                                                                              class="nav-link dropdown-toggle"
                                                                              href="#"
                                                                              id="menu-6"
                                                                              data-toggle="dropdown"
                                                                              aria-haspopup="true"
                                                                              aria-expanded="false"
                                                                            >
                                                                              Contacto
                                                                            </a>
<!--                                                                                                                                <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-right dropdown-menu-xl-left " aria-labelledby="menu-6">-->
<!--                                                                                                                                    <li>-->
<!--                                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/shop.html">-->
<!--                                                                                 Product-->
<!--                                                                                </a>-->
<!--                                                                                                                                    </li>-->
<!--                                                                                                                                    <li>-->
<!--                                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/shop-single.html">-->
<!--                                                                                 Product Single-->
<!--                                                                                </a>-->
<!--                                                                                                                                    </li>-->
<!--                                                                                                                                    <li>-->
<!--                                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/shop-cart.html">-->
<!--                                                                                  Cart-->
<!--                                                                                </a>-->
<!--                                                                                                                                    </li>-->
<!--                                                                                                                                    <li>-->
<!--                                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/shop-checkout.html">-->
<!--                                                                                  Checkout-->
<!--                                                                                </a>-->
<!--                                                                                                                                    </li>-->
<!--                                                                                                                                    <li>-->
<!--                                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/shop-empty-cart.html">-->
<!--                                                                                 Empty Cart-->
<!--                                                                                </a>-->
<!--                                                                                                                                    </li>-->
<!--                                                                                                                                    <li>-->
<!--                                                                                                                                        <a class="dropdown-item" href="@@webRoot/pages/shop-order-completed.html">-->
<!--                                                                              Order Completed-->
<!--                                                                              </a>-->
<!--                                                                                                                                    </li>-->
<!--                                                                                                                                </ul>-->
                                                                                                                            </li>

                                                                                                                        </ul>
<!--                                                                                                                        <div class="header-btn ">-->
<!--                                                                                                                            <a href="@@webRoot/pages/signup.html " class="btn btn-primary btn-sm ">Registrate</a-->
<!--          >-->
<!--        </div>-->
      </div>
    </nav>
  </div>
  <!-- navigation close -->
</div>